In [28]:
import pandas as pd 
import matplotlib.pyplot as plt

In [29]:
#this makes a list of countries
eu_list = ['United Kingdom', 'France', 'Germany', 'Spain', 'Italy', 'Sweden']

In [30]:
#this downloads the data from john hopkins
fp = 'https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_confirmed_global.csv&filename=time_series_covid19_confirmed_global.csv'
df = pd.read_csv(fp).drop(['Province/State','Lat','Long'],axis=1)

In [31]:
df.tail()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,6/29/20,6/30/20,7/1/20,7/2/20,7/3/20,7/4/20,7/5/20,7/6/20,7/7/20,7/8/20
261,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,713,714,715,717,719,719,720,721,724,724
262,Yemen,0,0,0,0,0,0,0,0,0,...,1128,1158,1190,1221,1240,1248,1265,1284,1297,1318
263,Comoros,0,0,0,0,0,0,0,0,0,...,272,303,303,303,309,309,311,311,311,313
264,Tajikistan,0,0,0,0,0,0,0,0,0,...,5900,5900,6005,6058,6058,6159,6213,6262,6315,6364
265,Lesotho,0,0,0,0,0,0,0,0,0,...,27,27,35,35,35,35,79,91,91,91

In [32]:
#Now we want to get the sum across countries then you get the daily diffrences
#not sure how groupby works, sum, T, diff
df = df.groupby(['Country/Region',]).sum().T.diff()
df.tail()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
7/4/20,348.0,67.0,430.0,0.0,18.0,0.0,2590.0,580.0,183.0,115.0,...,625.0,3.0,312.0,213.0,0.0,501.0,0.0,8.0,0.0,73.0
7/5/20,279.0,74.0,441.0,0.0,0.0,0.0,2439.0,706.0,140.0,115.0,...,519.0,1.0,312.0,419.0,0.0,442.0,0.0,17.0,0.0,18.0
7/6/20,239.0,71.0,463.0,0.0,0.0,2.0,2632.0,330.0,172.0,85.0,...,359.0,4.0,342.0,242.0,14.0,64.0,0.0,19.0,0.0,18.0
7/7/20,194.0,74.0,475.0,0.0,40.0,0.0,2979.0,349.0,131.0,56.0,...,584.0,5.0,476.0,282.0,0.0,306.0,0.0,13.0,263.0,53.0
7/8/20,210.0,68.0,469.0,0.0,0.0,0.0,3604.0,535.0,170.0,92.0,...,637.0,9.0,254.0,315.0,0.0,382.0,0.0,21.0,0.0,98.0

In [33]:
#now we just want the population from the list of european countries
from countryinfo import CountryInfo

In [34]:
#this sets an empty variable we called pop for the population
pop = {}

#now we want to loop through eu_list to get each of their population
for country in eu_list:
    pop[country] = CountryInfo(country).population()

In [35]:
pop.tail()

AttributeError: 'dict' object has no attribute 'tail'

In [36]:
type(pop)

dict

In [38]:
pop = pd.DataFrame(pd.DataFrame(pop, index=pop.keys()))
pop.columns = ['country']
# Adjust all statistics by Population
pop['multiplier'] = 1000000. / pop['country']
df2 = df.copy()
for k in eu_list:
 df2[k] = (df2[k] * pop.ix[k,'multiplier'])

ValueError: Length mismatch: Expected axis has 6 elements, new values have 1 elements