In [2]:
import pandas as pd 
import seaborn as sns
import datetime as dt
import pandas_datareader as web

In [3]:
start = dt.datetime(2000,1,1)
end = dt.datetime.today()

In [4]:
df = web.DataReader("^GSPC", 'yahoo', start, end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2000-01-03,1478.000000,1438.359985,1469.250000,1455.219971,931800000,1455.219971
2000-01-04,1455.219971,1397.430054,1455.219971,1399.420044,1009000000,1399.420044
2000-01-05,1413.270020,1377.680054,1399.420044,1402.109985,1085500000,1402.109985
2000-01-06,1411.900024,1392.099976,1402.109985,1403.449951,1092300000,1403.449951
2000-01-07,1441.469971,1400.729980,1403.449951,1441.469971,1225200000,1441.469971
...,...,...,...,...,...,...
2020-08-12,3387.889893,3355.459961,3355.459961,3380.350098,3768560000,3380.350098
2020-08-13,3387.239990,3363.350098,3372.949951,3373.429932,3648810000,3373.429932
2020-08-14,3378.510010,3361.639893,3368.659912,3372.850098,3193400000,3372.850098
2020-08-17,3387.590088,3379.219971,3380.860107,3381.989990,3671290000,3381.989990
2020-08-18,3395.060059,3370.149902,3387.040039,3391.250000,946776067,3391.250000

In [ ]:
df['pct_change'] = df['Adj Close'].pct_change()df===